body {
  background-color: rgb(236, 206, 227);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/*  배민 앱은 content에요 */
.content{
  width: 515px;
  height: 100vh;
  background-color:rgb(252, 246, 247);

  display: grid;
  grid-template-rows: 1fr 10fr 1fr;
}
/* 고정 상단바 입니다 */
header{
  position: fixed;

  width: 515px;
  height: 90px;
  border: solid 1px;
display: grid;
grid-template-rows: 1.5fr 1fr;
}
/* 제일 위 고정 상단이 header이고 
윗 상단바의 첫번째 디브 */
header > div:nth-child(1){
background-color:white;
display: grid;
grid-template-columns: 0.5fr 7fr 1fr ;

padding-bottom: 0px;
}
/* 윗 상단바의 두번째 디브 */
header >div:nth-child(2){
  font-size: 15px;
  font-weight: 100;

  margin-top: 0px;

  padding-left: 30px;
  margin-bottom: 5px;
  padding-bottom: 0px;
background-color: rgb(249, 220, 220);
}



/* 맨 밑의  검색,장바구니,찜,주문내역, my배민 클릭할 수 있는 하단바 입니다 */
footer{
  position: fixed;
margin-bottom: 5px;
width: 513px;
height: 45px;
border: solid 1px;
bottom:1px;
display: grid;
grid-template-columns: repeat(5,1fr);
}



/* 홈이미지 버튼이에요 */
.right-bar,.back-img{
  margin-top: 10px;
  margin-left: 5px;
  width: 35px;
  height: 35px;
}

/* 상단바에서 뒤로가기버튼   */
.left-bar :nth-child(1){
width: 20px;
height: 30px;
}
/* 뒤로가기버튼 옆에 이 페이지의 제목을 담당 */
.top-bar-name{
  margin-top: 14px;
  margin-left: 0px;
  width: 60x;
  height: 30px;
}

/* 메인페이지----------------------------- */

main{
      border:1px  solid black;
      background-color: aqua;
      margin-top: 120px;
    }

.location-img{
  margin-top : 5px;
}

payment-font{
  color : white;
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

footer div{
  display: grid;
  grid-template-columns: 3fr lfr;
}
footer img{
  width: 33px;
  height: 27px;
  margin-left: 32px;
}

footer span{
  font-size: 12px;
  margin-left: 28px;
}