<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- 글씨체 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="../../resources/css/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
</head>



<body>
    <div class="content">
        <header>
          <div class="top-bar">
            <div class="left-bar"><img class="back-img" src="../../resources/img/상단바_뒤로가기.jpg"></div>
           <div class="middle-bar"> <img class="top-bar-name" src="../../resources/img/상단바_현재페이지이름_가게배달.jpg"> </div>
            <img  class="right-bar" src="../../resources/img/홈.png">
          </div>
   
          <div class="middle">주소입력칸&nbsp&nbsp&nbsp▽</div>
          <!-- <div class="bottom"><button>standardard</button><button>star☆</button></div> -->
        </header>
        <main>

<h1>안녕하세요</h1>
        </main>
        <footer>
          <!-- 클릭하면 페이지 넘어갈 수 있게 온클릭에 url쓰기~  -->
          <div onclick=""><img src="../../resources/img/하단바_돋보기.jpg">  <span>&nbsp&nbsp검색</span> </div>
          <div onclick=""> <img src="../../resources/img/하단바_장바구니.jpg">  <span>장바구니</span></div>
          <div onclick=""> <img src="../../resources/img/하단바_찜.jpg"> <span>&nbsp&nbsp&nbsp&nbsp찜</span></div>
          <div onclick=""> <img src="../../resources/img/하단바_주문내역.jpg"> <span>주문내역</span></div>
          <div onclick="">  <img src="../../resources/img/하단바_마이배민.jpg"> <span>my배민</span></div>
         
  
        </footer>

        </div>

    </div>
  
</body>
</html>